<!DOCTYPE html>
<head>
  <title>Speech to Text</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Select audio file</h3>
  <form action="/s2t" method="post" enctype="multipart/form-data">
    <input type="file" name="audiofile" placeholder="Select audio file" required />
    <input type="submit" value="Convert to text" />
  </form>
  {% if transcript %}
  <div class="result">{{ transcript }}</div>
  {% endif %}
  {% if error %}
  <div class="error">{{ error }}</div>
  {% endif %}
</body>
